MONGODB_URL='mongodb://localhost:27017/filmes-db'
SECRET=MIICXAIBAAKBgQCBFcTJ1krGP27ves5qkZULUaDazB+74ygVIU5G37ZfDazf1DPFw3FrgAooNcEvKbTVlWxRQfqRskb6WI8Ts6zt5zwi+mQSdN5ALPc/iuOyoAdYabUHAZKPld51CySn7SmpN/0uiTAp5ea5Q+IeHjRMU2b04qHm9088DZr1Tp3ubwIDAQABAoGAXlaic0ABddF2Kd7+bDPpUVRe0ojLyGzDJm4o3vMwPVepOAvFqoqjoYT551khzm4UkuOZPemSTliUNvHx3tw5TLoqtvWkxxjZuL14cA02dWhZFQxX1qGyiEpNsoiX/ZyAUx1K9iZBK+2cgehYstAtrFIzV9gVf8zoVkpRLAuPB4ECQQDGkl2Fb2T8HwzLjD1T4gBRcHxx7YkVIP2pVemCGpv9IbWRRZpzvs7ABq6bpew87VX5dqndTUwXg+0JUvMSX7o5AkEApmrS1q7/U17w5OWG/r5LOH2lKgnAv4pGNtEq0qhEA4pTs44gU+rzrUqkpnfTwxYmXuaIcphANirQ3NE7bAgN5wJAbRIsaITddVcg0hWAAjlbb2BYGsQczgxHCOJ11s8C67G+Z8NRqU4fhn6lHj2vW3AKD3LMrxAsQaZnZv23IlqOkQJBAKQ9uWf3vjXh9Y1ymhDAbiyKlH8wsPJY3YMsXD8bokR8OK91DaLEt0nH6UgB6xUWvzfZ/cBbUsQi7Y+BUEwGhvECQACFCY37rxsLYs8UaWMdbAaoeTThou0ywy+QnBLb7ekfw3YnYTbAn50q9GRWpQZCRSNuzmUW8nvEws+P9LsHGaU=